---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import Profile from "@/components/Profile.astro";
import CardContainer from "@/components/shared/CardContainer.astro";
import ExperienceYears from "@/components/ExperienceYears.astro";
import NumberOfProjects from "@/components/NumberOfProjects.astro";
import TechStack from "@/components/TechStack/index.astro";
import Projects from "@/components/Projects.astro";
import Experiences from "@/components/Experiences/index.astro";
import Socials from "@/components/Socials.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body class="bg-background">
    <div class="grid grid-cols-6 grid-rows-8 gap-4 p-4 h-screen">
      <!-- <div class="row-span-2">
        <CardContainer>
          <ExperienceYears />
        </CardContainer>
      </div>
      <div class="row-span-2">
        <CardContainer>
          <NumberOfProjects />
        </CardContainer>
      </div> -->
      <div class="col-span-2 row-span-4 col-start-1">
        <CardContainer>
          <Profile />
        </CardContainer>
      </div>
      <div class="col-span-2 row-span-4 col-start-1 row-start-5">
        <CardContainer>
          <TechStack />
        </CardContainer>
      </div>
      <div class="col-span-4 row-span-4 col-start-3 row-start-1 relative">
        <CardContainer>
          <Projects />
        </CardContainer>
      </div>
      <div class="col-span-3 row-span-4 col-start-3 row-start-5">
        <CardContainer>
          <Experiences />
        </CardContainer>
      </div>
      <div class="row-span-4 col-start-6 row-start-5">
        <CardContainer>
          <Socials />
        </CardContainer>
      </div>
    </div>
  </body>
</html>
