---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";
import Profile from "@/components/Profile.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body class="bg-background">
    <h1 class="text-red-600">Astro</h1>
    <Button>Hello World</Button>
    <Profile />
  </body>
</html>
