---
import TitleCard from "./shared/TitleCard.astro";
import { BriefcaseBusiness } from "lucide-react";
---

<div class="flex flex-col">
  <div>
    <TitleCard
      Icon={BriefcaseBusiness}
      title="Professional Experience"
      subtitle="Career Highlights and Key Roles"
    />
  </div>
</div>
