---
import StyledNumber from "./shared/StyledNumber.astro";
import StyledPill from "./shared/StyledPill.astro";
import { PanelsTopLeft } from "lucide-react";
---

<div class="flex justify-center items-center h-full">
  <div class="flex flex-col space-y-4 w-full">
    <StyledNumber>5</StyledNumber>
    <StyledPill label="Projects" Icon={PanelsTopLeft} />
  </div>
</div>
