---
import TitleCard from "./shared/TitleCard.astro";
import { PanelsTopLeft } from "lucide-react";
---

<div class="flex flex-col">
  <div>
    <TitleCard
      Icon={PanelsTopLeft}
      title="Featured Projects"
      subtitle="Real-World and Showcase Projects"
    />
  </div>
</div>
