---
import TitleCard from "./shared/TitleCard.astro";
import { PanelsTopLeft, ArrowRight } from "lucide-react";
import { Image } from "astro:assets";
import DummyImage from "../images/swpc.png";

const projects = [
  {
    title: "Sing with Piano Collections",
    year: "2022",
  },
  {
    title: "Wedding Invitation",
    year: "2023",
  },
  {
    title: "Taruna Bangsa",
    year: "2022",
  },
  {
    title: "Comic Book App",
    year: "2021",
  },
];
---

<div class="flex flex-col gap-8">
  <div>
    <TitleCard
      Icon={PanelsTopLeft}
      title="Featured Projects"
      subtitle="Real-World and Showcase Projects"
    />
  </div>
  <div class="grid grid-cols-12 space-x-8">
    <div class="grid col-span-5 h-full">
      <div class="flex flex-col gap-5">
        <hr class="" />
        {
          projects?.map((project) => (
            <>
              <div class="flex gap-6">
                <button class="grow flex gap-2 items-center">
                  {/* <ArrowRight size={18} color="white" /> */}
                  <p>{project.title}</p>
                </button>
                <p class="text-gray-400">{project?.year}</p>
              </div>
              <hr class="border-" />
            </>
          ))
        }
      </div>
    </div>
    <div class="grid col-span-7">
      <div class="right-0 bottom-0 h-3/4 w-1/2 absolute">
        <img
          src="/src/images/swpc.png"
          alt="SWPC Banner"
          class="rounded-tl-2xl rounded-br-2xl h-full w-full object-cover border-gray-button border-t border-l"
        />
      </div>
    </div>
  </div>
</div>
