---
import TitleCard from "./shared/TitleCard.astro";
import { MessagesSquare } from "lucide-react";
---

<div class="flex flex-col">
  <div>
    <TitleCard
      Icon={MessagesSquare}
      title="Socials"
      subtitle="Connect with Me"
    />
  </div>
</div>
