---
import { Layers } from "lucide-react";
import TitleCard from "./shared/TitleCard.astro";
---

<div class="flex flex-col">
  <div>
    <TitleCard Icon={Layers} title="Tech Stack" subtitle="Daily Technologies" />
  </div>
</div>
